.bg-main {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(163,61,133,1) 50%, rgba(0,212,255,1) 100%);
}
.bg-start{
  margin: 0;
  padding: 0;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(163,61,133,1) 50%, rgba(0,212,255,1) 100%);
}
.button-glow {
  animation: glow 0.5s linear;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(0, 0, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 0 rgba(0, 0, 255, 0.7);
  }
}
